.container{
    border: 1px solid black;
    overflow: auto;
}
.container img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
ul{
    background: black;

}
li{
    display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
    padding: 20px;

}

li a:hover{
    background: gray;
    color: black;

}
.Login{
    float: left;
}
.Login a:hover{
    background: red;
    color: white;
}